section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 50%;

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1.4rem;
        }

        textarea {
            height: 200px;
        }

        input[type="submit"] {
            padding: 10px 20px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            background-color: var(--primary);
            color: var(--background);
            cursor: pointer;
            box-shadow: 0 0 12px var(--primary);
        }
    }
}

@media screen and (max-width: 1024px) {
    section form {
        max-width: 65%;
    }

    section form input,
    section form textarea {
        font-size: 1.5rem !important;
        padding: 12px 10px;
    }
}

@media screen and (max-width: 768px) {
    section form {
        max-width: 80%;
    }

    section form input,
    section form textarea {
        font-size: 1.45rem !important;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 425px) {
    section {
        min-height: 75vh;
    }

    section form {
        max-width: 90%;
    }

    section form input,
    section form textarea {
        font-size: 1.6rem !important;
    }

    section form input[type="submit"] {
        font-size: 1.7rem;
    }
}