@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

:root {
    --text: #e7f7ec;
    --background: #040a06;
    --primary: #8ed9a5;
    --secondary: #2b407e;
    --accent: #5945bf;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 2.5rem 5rem;
    gap: 10rem;

    li {
        font-size: 2.5rem;
    }

    li:nth-child(1) {
        margin-right: auto;
    }
}
