.front {
    height: initial;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 8rem 0;

    h1 {
        font-size: 6rem;
        margin-bottom: 8px;
    }

    h2 {
        margin-bottom: 12rem;
        text-align: center;
    }

    p {
        max-width: 1080px;
        text-align: center;
        padding: 0 2rem;
        font-size: clamp(1.6rem, 2.5vw, 2rem);
    }
}